/* GENERAL */

* {
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
    font-size: large;
}

/* HEADER */

header{
    margin: 20px 0;
    text-align: center;
    padding: 20px 20px 5px;
    background-color: #edf6f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    font-size: 2rem;
}

header .nav-link{
    margin: 5px;
    color: black;
    background-color: #80ffdb;
}

#donateBtn {
    background-color: #ffe66d;
    border: 1px solid black;
}

header .nav-link:hover,
#donateBtn:hover {
    background-color: #fca311;
}

.navbar-toggler{
    margin: 0 auto;
}

/* Footer */
footer{
    background-color: #caf0f8;
    padding: 3rem;
}

@media screen and (min-width: 576px) {
    #footer-left{
        text-align: right;
    }
}

/* HOME PAGE */
#donation .card-body{
    background-color: #ffe66d;
}

/* ABOUT PAGE */

/* carrousel of images */
.image-grid {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    margin: 0 4rem;
}

.image-grid img {
    margin: 0 2px;
    height: 20rem;
}